@import "reset"

body
  background #91A2C0
  font 14px "Helvetica Neue", Arial, Helvetica, sans-serif

ul
  list-style-type none

a, a:visited
  color #336699
  font-weight bold
  text-decoration none

a:hover
  color #336699
  font-weight bold


/* Default font settings */
body
  font-size 14px
  color #666
  background #fff
  font-family "KievitPro", "ff-kievit-web-pro-1","ff-kievit-web-pro-2", "Helvetica Neue", Arial, Helvetica, sans-serif

/* Headings */
h1,h2,h3,h3,h4
  font-weight normal
  color #222
  clear left

h1
  font-size 3em
  line-height 1.4
  margin-bottom 0.5em
h2
  font-size 2em
  line-height 1
  margin-bottom 0.5em

/* Text elements */
p
  margin 0 0 1.5em

a:focus, a:hover
  color #336699
  font-weight bold
  text-decoration underline
a
  color #336699
  font-weight bold
  text-decoration none

/* Lists */
ul, ol
  margin 0 1.5em 1.5em 0
  list-style-type none

#props
  position relative
  top 36px
  font-size 18px
  padding-left 373px
  color #eee
  font-style italic

#page
  height 100%
  width 100%

#home-view
  height 300px
  width 600px
  position relative
  margin 0 auto
  text-align center
  top 20%

#upload-view
  height 300px
  width 600px
  position relative
  margin 0 auto
  text-align center
  top 20%

#upload-await
  height 300px
  width 600px
  position relative
  margin 0 auto
  text-align center
  top 20%
  display none

#worksheet-view
  z-index 200
  table, th, td
    border 1px solid black
    vertical-align top
    color #000
  table 
    border-collapse collapse

.grey
  background-color grey

.blue
  background-color #0099ff

#head-select
  width 300px
  height 30px
  text-align center
  padding 10px
  position fixed
  top 0px
  margin 0 auto
  z-index 500
  background-color #0099ff
  display none

#data-select
  width 300px
  height 30px
  text-align center
  padding 10px
  position absolute
  z-index 500
  background-color #0099ff
  display none
  top 0px
  margin 0 auto

